*{
      margin:0;
      padding:0;
}


#inputField{
      font-size:3rem;
      color:white;
      background-color: black;
      height:200px;
      width:100%;
      margin-bottom: 50px;
      padding-top:100px;
}
body{
      background-color: grey;


}
button{
      background-color:white;
      width: 60px;
      height: 50px;
      border:solid 2px red;
      margin: 0 20px 20px 0px;
      display: inline-block;
      justify-self: center;
     }



.keyboard__btn--active{
      background-color: aqua;

}
.container{

      text-align: center;
}

.slideThree {
      width: 80px;
      height: 26px;
      background: #333;
      margin: 20px auto;
      position: relative;
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
       content: 'OFF';
       color: #000;
       position: absolute;
       right: 10px;
       z-index: 0;
       font: 12px/26px Arial, sans-serif;
       font-weight: bold;
       text-shadow: 1px 1px 0px rgba(255,255,255,.15);
 }
.slideThree:before {
       content: 'ON';
       color: white;
       position: absolute;
       left: 10px;
       z-index: 0;
       font: 12px/26px Arial, sans-serif;
       font-weight: bold;
 }
label {
      display: block;
      width: 34px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 1;
      background: #fcfff4;
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 50px;
      transition: all 0.4s ease;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
input[type=checkbox] {
      visibility: hidden;
}
input[type=checkbox]:checked + label {
       left: 43px;
 }

span {
      position: absolute;
      top: -2px;
      right: 100px;
      color: white;
      font: 26px Arial, sans-serif;
      font-weight: bold;
}

